<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   autoReload="true">
  <targets>
    <!--输入日志到文件（数据中台服务、数据中台管理）error+debug+info=600m-->
    <target name="mdc_manager" xsi:type="File"
            layout="${longdate} [${logger}] ${message} ${exception}"
            fileName="${basedir}/Logs/${logger}/${level}.current.log"
            encoding="utf-8"
            archiveFileName="${basedir}/Logs/${logger}/history/${level}/{#}.txt"
            archiveEvery="Day"
            archiveAboveSize="20480000"
            maxArchiveFiles="10"
            archiveDateFormat="yyyyMMdd"
            archiveNumbering="DateAndSequence"/>
    <!--输入日志到文件（数据跟踪服务、数据清洗服务）error+debug+info=1500m-->
    <target name="mdc_change_tracking" xsi:type="File"
            layout="${longdate} [${logger}] ${message} ${exception}"
            fileName="${basedir}/Logs/${logger}/${level}.current.log"
            encoding="utf-8"
            archiveFileName="${basedir}/Logs/${logger}/history/${level}/{#}.txt"
            archiveEvery="Day"
            archiveAboveSize="20480000"
            maxArchiveFiles="25"
            archiveDateFormat="yyyyMMdd"
            archiveNumbering="DateAndSequence"/>
    <!--输出日志到控制台-->
    <target xsi:type="ColoredConsole" name="console"
          layout="${longdate} [${logger}] ${message} ${exception}">
    </target>
  </targets>
  <rules>
    <!--程序自身日志和Mysoft基础库的日志级别-->
    <logger name="数据中台服务" minlevel="Debug" writeTo="mdc_manager" />
    <logger name="数据跟踪服务" minlevel="Debug" writeTo="mdc_change_tracking" />
    <logger name="数据清洗服务" minlevel="Debug" writeTo="mdc_change_tracking" />
    <logger name="数据中台管理" minlevel="Debug" writeTo="mdc_manager" />
    <logger name="进程守护服务" minlevel="Debug" writeTo="mdc_manager" />
    <logger name="数据巡检服务" minlevel="Debug" writeTo="mdc_manager" />
    <logger name="App" minlevel="Error" writeTo="mdc_manager" />
    <!--<logger name="Mysoft.*" minlevel="Debug" writeTo="file" />-->
    <!--QuartZ相关的日志输出级别-->
    <logger name="Quartz.*" minlevel="Error" writeTo="mdc_manager" />
    <!--<logger name="*" minlevel="Error" writeTo="file" />-->
  </rules>
</nlog>